// COLORS
$color-primary: #FF697F;
$color-primary-light: #FF8295;
$color-primary-dark: #58242c;

$color-background: #ffd5db;
$color-background-1: #e9b0b8;

$color-green: rgb(65, 209, 65);
$color-red: #A80000;
$color-yellow: #fcd112;

$color-secondary: #B6E3F2;
$color-secondary-light: #ADD8E6;
$color-secondary-dark: #4D6066;

$color-grey-dark: #777;
$color-grey-dark-2: #999;

$color-white: #fff;
$color-black: #000;


// FONT
$default-font-size: 1.6rem;

// GRID
$grid-width: 144rem;
$default-width: 124rem;
$gutter-vertical: 8rem;
$gutter-vertical-small: 6rem;
$gutter-horizontal: 6rem;